<?xml version='1.0' encoding='utf-8'?>
<widget id="lorawan.mobileapp" version="0.1.0">
  <name>Mobileapp</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="42601356+emitterpark@users.noreply.github.com">
    emitterpark
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordovarduino" spec="^0.0.10" />
</widget>
